/* RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* COMMON */

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
}

/* WRAPPER */

.wrapper {
  background-color: black;
  height: 100vh;
  width: 100%;
  padding-top: 2rem;
}

/* MAIN */

.container {
  margin: 0 auto;
}

main {
  /* debug */
  background-color: aquamarine;
  height: calc(100% - 80px);
  width: 90%;
}

.row {
  width: 100%;
  align-items: flex-start;
  gap: 1rem;
}

.card {
  width: calc(95% / 7);
  /* debug */
  /*  height: 100px; */
  background-color: lightcoral;
  position: relative;
}

.card-user {
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 0.6rem;
  font-weight: 200;
  padding: 3px 2px;
}
/* FOOTER */

footer {
  /* debug */
  background-color: lightseagreen;
  height: 60px;
  margin-top: 20px;
}
