/* RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* COMMON */

img {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

/* WRAPPER */

.wrapper {
  background-color: black;
  height: 100vh;
  width: 100%;
  padding-top: 2rem;
}

/* MAIN */

.container {
  margin: 0 auto;
}

main {
  height: calc(100% - 80px);
  width: 90%;
}

.row {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 1rem;

  overflow-y: auto;
}

.card {
  width: calc(95% / 7);
  position: relative;
}

.card-user {
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 0.6rem;
  font-weight: 200;
  padding: 0.5rem;
}
/* FOOTER */

footer {
  /* debug */
  background-color: #222222;
  height: 60px;
  color: #fff;
  /* position propreties */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  /* Flex properties */
  justify-content: space-between;
  align-items: center;
}

/* Options */

.options {
  width: 20%;
  justify-content: flex-start;
  flex-grow: 1;
}

.option {
  margin-left: 1rem;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  /* width: 100%; */
}

.option p {
  font-size: 1rem;
  align-self: flex-start;
}

.option .fa-angle-up {
  font-size: 0.5rem;
  margin-left: 0.8rem;
}

/* Intractions */
.interactions {
  width: 50%;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.interact {
  height: 100%;
  /* width: calc(100% / 10); */
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  text-align: center;
}

.interact .fa-solid {
  font-size: 20px;
}

.interact p {
  font-size: 16px;
}

#share {
  color: #4bc800;
}

#fa-angle-up-alone {
  font-size: 8px;
}

.end {
  width: 20%;
  justify-content: flex-end;
  height: 100%;
}

.end p {
  line-height: 60px;
  padding: 0 1rem;
  font-size: 0.8rem;
  background-color: #4a4a4a;
  color: #d32615;
}

/* MORE ACTIONs */

.more-action {
  position: fixed;
  top: 5px;
  right: 5px;
  color: #fff;
  font-size: 0.8rem;
  gap: 0.3rem;
  width: 300px;
  justify-content: flex-end;
  align-items: center;
}

.change {
  background-color: #4a4a4a;
  color: white;
  border: 1px solid #4a4a4a;
  padding: 0.3rem 0.4rem;
  border-radius: 5px;
}
